@page
@model PlanszowkaPlusPlus.Pages.Client.GamesListModel

@{
    ViewData["Title"] = "Available Games";
}

<link rel="stylesheet" href="~/css/site.css" />

<div style="position: absolute; top: 10px; right: 10px;"></div>
    <a href="/MemberUI/Index">
        <img src="~/planszowkaPlusPlusLogov2.png" alt="Logo" style="height: 50px;" />
    </a>
</div>

<h1>Available games</h1>

@if (!Model.Games.Any())
{
    <p>Brak gier w systemie.</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Available</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var game in Model.Games)
        {
            <tr>
                <td>@game.Title</td>
                <td>@game.Category</td>
                <td>@game.TotalNumber</td>
                <td>@game.AvailableNumber</td>
            </tr>
        }
        </tbody>
    </table>
}

<form method="get" action="/MemberUI/Index" class="d-inline">
    <button type="submit" class="btn btn-secondary">Back to menu</button>
</form>
