@page
@model PlanszowkaPlusPlus.Pages.Games.CreateModel

@{
    ViewData["Title"] = "Create";
}
<link rel="stylesheet" href="~/css/site.css" />

<h1>Create</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Game.Title" class="control-label"></label>
                <input asp-for="Game.Title" class="form-control" />
                <span asp-validation-for="Game.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.Category" class="control-label"></label>
                <input asp-for="Game.Category" class="form-control" />
                <span asp-validation-for="Game.Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.TotalNumber" class="control-label"></label>
                <input asp-for="Game.TotalNumber" class="form-control" />
                <span asp-validation-for="Game.TotalNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Game.AvailableNumber" class="control-label"></label>
                <input asp-for="Game.AvailableNumber" class="form-control" />
                <span asp-validation-for="Game.AvailableNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <form method="get" action="/Games/Index" class="d-inline">
        <button type="submit" class="btn btn-secondary">Back to List</button>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
