@page
@model PlanszowkaPlusPlus.Pages.Rentals.CreateModel

@{
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" href="~/css/site.css" />

<div style="position: absolute; top: 10px; right: 10px;"></div>
    <a href="/Index">
        <img src="~/planszowkaPlusPlusLogov2.png" alt="Logo" style="height: 50px;" />
    </a>
</div>

<h1>Create</h1>

<h4>Rent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Rent.RentDate" class="control-label"></label>
                <input asp-for="Rent.RentDate" class="form-control" type="date" />
                <span asp-validation-for="Rent.RentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rent.ReturnDate" class="control-label"></label>
                <input asp-for="Rent.ReturnDate" class="form-control" type="date" />
                <span asp-validation-for="Rent.ReturnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rent.GameId" class="control-label"></label>
                <select asp-for="Rent.GameId" class ="form-control" asp-items="ViewBag.GameId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Rent.MemberId" class="control-label"></label>
                <select asp-for="Rent.MemberId" class ="form-control" asp-items="ViewBag.MemberId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <form method="get" action="/Rentals/Index" class="d-inline">
        <button type="submit" class="btn btn-secondary">Back to List</button>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
