@page
@model PlanszowkaPlusPlus.Pages.Reservations.CreateModel

@{
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" href="~/css/site.css" />

<div style="position: absolute; top: 10px; right: 10px;"></div>
    <a href="/Index">
        <img src="~/planszowkaPlusPlusLogov2.png" alt="Logo" style="height: 50px;" />
    </a>
</div>

<h1>Create</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="ReservationInfo.ReservationDate" class="control-label"></label>
                <input asp-for="ReservationInfo.ReservationDate" class="form-control" type="date" />
                <span asp-validation-for="ReservationInfo.ReservationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReservationInfo.TimeStart" class="control-label"></label>
                <input asp-for="ReservationInfo.TimeStart" class="form-control" type="time" />
                <span asp-validation-for="ReservationInfo.TimeStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReservationInfo.TimeEnd" class="control-label"></label>
                <input asp-for="ReservationInfo.TimeEnd" class="form-control" type="time" />
                <span asp-validation-for="ReservationInfo.TimeEnd" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ReservationInfo.TableId" class="control-label"></label>
                <select asp-for="ReservationInfo.TableId" class="form-control" asp-items="@(ViewData["TableId"] as SelectList)">
                    <option value="">-- Select a Table --</option>
                </select>
                <span asp-validation-for="ReservationInfo.TableId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReservationInfo.MemberId" class="control-label"></label>
                <select asp-for="ReservationInfo.MemberId" class="form-control" asp-items="@(ViewData["MemberId"] as SelectList)">
                    <option value="">-- Select a Member --</option>
                </select>
                <span asp-validation-for="ReservationInfo.MemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <form method="get" action="/Reservations/Index" class="d-inline">
        <button type="submit" class="btn btn-secondary">Back to List</button>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
