@page
@model PlanszowkaPlusPlus.Pages.Reservations.CreateModel

@{
    ViewData["Title"] = "Create";
}

<link rel="stylesheet" href="~/css/site.css" />

<h1>Create</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="Reservation.ReservationDate" class="control-label"></label>
                <input asp-for="Reservation.ReservationDate" class="form-control" type="date"/>
                <span asp-validation-for="Reservation.ReservationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.TimeStart" class="control-label"></label>
                <input asp-for="Reservation.TimeStart" class="form-control" type="time"/>
                <span asp-validation-for="Reservation.TimeStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.TimeEnd" class="control-label"></label>
                <input asp-for="Reservation.TimeEnd" class="form-control" type="time"/>
                <span asp-validation-for="Reservation.TimeEnd" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Reservation.TableId" class="control-label"></label>
                <select asp-for="Reservation.TableId" class ="form-control" asp-items="ViewBag.TableId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Reservation.MemberId" class="control-label"></label>
                <select asp-for="Reservation.MemberId" class ="form-control" asp-items="ViewBag.MemberId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <form method="get" action="/Reservations/Index" class="d-inline">
        <button type="submit" class="btn btn-secondary">Back to List</button>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
