@page
@model PlanszowkaPlusPlus.Pages.Client.RequestReservationModel
@{
    ViewData["Title"] = "Zgłoś rezerwację";
}
<h2>Zgłoś rezerwację stolika</h2>

<form method="post">
    <div class="form-group">
        <label>Imię i nazwisko</label>
        <input asp-for="Input.FullName" class="form-control" required />
    </div>
    <div class="form-group">
        <label>Email</label>
        <input asp-for="Input.Email" class="form-control" required type="email"/>
    </div>
    <div class="form-group">
        <label>Data rezerwacji</label>
        <input asp-for="Input.Date" class="form-control" type="date" required />
    </div>
    <div class="form-group">
        <label>Godzina rozpoczęcia</label>
        <input asp-for="Input.TimeStart" class="form-control" type="time" required />
    </div>
    <div class="form-group">
        <label>Godzina zakończenia</label>
        <input asp-for="Input.TimeEnd" class="form-control" type="time" required />
    </div>
    <div class="form-group">
        <label>Numer stolika</label>
        <select asp-for="Input.TableId" asp-items="Model.Tables" class="form-control"></select>
    </div>
    <button type="submit" class="btn btn-primary">Przejdź do potwierdzenia</button>
</form>
