@page
@model PlanszowkaPlusPlus.Pages.MemberUI.Reservation.RequestReservationModel

@{
    ViewData["Title"] = "Zgłoś rezerwację";
}

<link rel="stylesheet" href="~/css/site.css" />

<div style="position: absolute; top: 10px; right: 10px;"></div>
    <a href="/MemberUI/Index">
        <img src="~/planszowkaPlusPlusLogov2.png" alt="Logo" style="height: 50px;" />
    </a>
</div>

<h1>Make a reservation request</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Input.FullName" class="control-label"></label>
                <input asp-for="Input.FullName" class="form-control" />
                <span asp-validation-for="Input.FullName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Email" class="control-label"></label>
                <input asp-for="Input.Email" class="form-control" type="email" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Date" class="control-label"></label>
                <input asp-for="Input.Date" class="form-control" type="date" />
                <span asp-validation-for="Input.Date" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.TimeStart" class="control-label"></label>
                <input asp-for="Input.TimeStart" class="form-control" type="time" />
                <span asp-validation-for="Input.TimeStart" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.TimeEnd" class="control-label"></label>
                <input asp-for="Input.TimeEnd" class="form-control" type="time" />
                <span asp-validation-for="Input.TimeEnd" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.TableId" class="control-label"></label>
                <select asp-for="Input.TableId" asp-items="Model.Tables" class="form-control"></select>
                <span asp-validation-for="Input.TableId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Request" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<form method="get" action="/MemberUI/Index" class="d-inline">
    <button type="submit" class="btn btn-secondary">Cancel</button>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
