@page
@model PlanszowkaPlusPlus.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to PlanszówkaPlusPlus</h1> <!--make the page look good with buttons etc.-->
    <a href="/Members">Members</a><br />
    <a href="/Games">Games</a><br />
    <a href="/Rentals">Rentals</a><br />
    <a href="/GameTables">Tables</a><br />
    <a href="/Reservations">Reservations</a>
</div>

<!--<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->