@page
@model PlanszowkaPlusPlus.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/css/site.css" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />


<div>
    @if (User.Identity.IsAuthenticated)
    {
        <form method="post" class="form-inline" asp-page="/Account/Logout">
            <button type="submit" class="btn btn-secondary">Logout</button>
        </form>
    }
</div>
<div>
    @if (User.IsInRole("Admin"))
    {
        <a href="/AdminDashboard" class="btn btn-secondary">Admin Dashboard</a>
    }
</div>

<div class="text-center mt-5">
    <img src="~/planszowkaPlusPlusLogov2.png" alt="Logo" style="height: 100px;" class="mb-3" />
    <h1 class="display-4 mb-4">Welcome to PlanszówkaPlusPlus</h1>

    <div class="btn-group-vertical">
        <a href="/Members" class="btn btn-primary btn-lg mb-2">Members</a>
        <a href="/Games" class="btn btn-success btn-lg mb-2">Games</a>
        <a href="/Rentals" class="btn btn-warning btn-lg mb-2">Rentals</a>
        <a href="/GameTables" class="btn btn-info btn-lg mb-2">Tables</a>
        <a href="/Reservations" class="btn btn-danger btn-lg mb-2">Reservations</a>
        <a href="/Reservations/Confirm" class="btn btn-primary btn-lg">Confirm Reservations</a>
    </div>
</div>
